snippet mod "Module definition"
	local M = {}

	$1

	return M

snippet fun "Function"
	function ${1}($2)
		$3
	end

snippet funl "Local function"
	local function $1($2)
		$3
	end


snippet plugin "Configuration for a plugin"
	require("lazy")

	---@type LazySpec${1:[]}
	return {
		$2
	}
