@import "../../.cache/wal/colors-gtk.css";

/* Recommended if panel "height" unset or smaller then your theme default button height */
button {
    margin: 2px;
}

#panel-top,
#panel-bottom {
    background: none;
    color: @foreground;
}

#panel-top > * {
    margin-top: 0.3em;
}

#left-box > *,
#center-box > *,
#right-box > * {
    border-radius: 1000px;
}

#left-box > box,
#center-box > box,
#right-box > box,
#left-box > widget > box,
#center-box > widget > box,
#right-box > widget > box {
    background: @background;
    color: @foreground;
    border-radius: 1000px;
    margin-left: 0.4em;
    margin-right: 0.4em;
    padding-right: 0.75em;
    padding-left: 0.75em;
}

#hyprland-workspaces {
    margin-left: -0.4rem;
}

#hyprland-workspaces > * {
    border-radius: 1000px;
}

#hyprland-workspaces-item {
    background: none;
    padding-left: 0.2em;
    padding-right: 0.2em;
    border-radius: 1000px;
}

#task-box-focused #hyprland-workspaces-item {
    background-color: rgba (255, 255, 255, 0.12);
}

/* Controls window in sample config uses this name */
#controls-window {
    border-radius: 15px;
    background: #36364f;
    color: #eeeeee;
}
#controls-window scale value {
    color: #eeeeee;
}

/* Brightness slider popup window in sample config uses this name */
#brightness-popup {
    border-radius: 15px;
    background: #36364f;
    color: #eeeeee;
}
#brightness-popup box {
    padding: 15px;
}

/* Executors usually behave better in monospace fonts */
#executor-label {
    font-family: monospace;
}

/* and so does the Clock */
#clock {
    font-family: monospace;
    font-size: 16px;
}
