@import "../../.cache/wal/colors-gtk.css";

* {
    font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    background-image: none;
    transition: 20ms;
}

window {
    background-color: rgba(0, 0, 0, 0.5);
}

button {
    color: @foreground;
    font-size: 20px;

    margin: 10px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;

    border-style: solid;
    background-color: @background;
    border: none;
    border-radius: 8px;

    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

button:active,
button:focus {
    background-color: mix(@color11, @background, 0.2);
    box-shadow: 0 0 8px alpha(@color11, 0.2);
}

button:hover {
    background-color: @color11;
    box-shadow: 0 0 8px alpha(@color11, 0.5);
}

#lock {
    background-image: image(url("icons/lock.png"));
}

#logout {
    background-image: image(url("icons/logout.png"));
}

#suspend {
    background-image: image(url("icons/suspend.png"));
}

#hibernate {
    background-image: image(url("icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("icons/shutdown.png"));
}

#reboot {
    background-image: image(url("icons/reboot.png"));
}
